/* Header and Navigation */
nav ul li a {
    color: black;
}

/* Home Page */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-left {
    width: 60%;
}

.info-right {
    width: 35%;
    text-align: right;
}

.info img.profile-img {
    display: block;
    margin: 0 auto 10px auto;
}

.language-box, .skill-box {
    display: inline-block;
    background: #e0e0e0;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px 5px 5px 0;
}

/* Section Styles */
.section {
    margin-bottom: 2em;
}

.category-section h3 {
    font-size: 1.5em;
    color: #0073e6;
    margin-top: 1em;
}

.category-section {
    background-color: #f9f9f9;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}

.project-list li, .resource, .job-offer {
    margin-bottom: 2em;
    background: #e6ffe6;
    padding: 10px;
    border-radius: 5px;
}

.resource a, .job-offer a, .project-list a {
    color: #0073e6;
    text-decoration: none;
}

.resource a:hover, .job-offer a:hover, .project-list a:hover {
    text-decoration: underline;
}

/* Blog */
#blog .category-section {
    margin-top: 1em;
}

/* Separator */
hr {
    border: 0;
    height: 1px;
    background: #0073e6;
    margin: 1em 0;
}
